.side-bar{
  background-color: #38AEF0;
  width: 300px;
  color: #FAFAFA;
  box-sizing: border-box;
  height: calc(100vh - 80px);

  .header{
    background-color: #38AEF0;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;

    &__name{
      display: inline-block;
      font-family: arial black;
      font-size: 16px;
      font-weight: bold;
      color: #F0F8FF;
    }

    &__lists{
      display: inline-block;
      float: right;

      .list{
        font-family: arial black;
        display: inline-block;

        .icon{
          font-size: 16px;
        }
        .icon:before{
          color: black;
        }
      }
    }
  }

  .groups{
    height: calc(100vh-100px);
    padding: 0 20px;
    background: #38AEF0;
    font-family: arial;

    .group{
      box-sizing: border-box;
      padding: 20px 0 40px;

      &__name{
        font-family: arial black;
        font-size: 15px;
        color: #101010;
      }
      &__message{
        font-family: arial black;
        font-size: 11px;
        margin-top: 5px;
        color: #101010;
      }
    }
  }
}
