  <header class="header">
    <div class="header__bar">
      <div></div>
      <h1 class="grid-6"><a href="/">FreeeChat</a></h1>
        <% if user_signed_in? %>
        <h2 class="user_nav">
          <br>
          <span>
            <font face='arial'>
            <%= link_to "log out", destroy_user_session_path, method: :delete %>
          </font>
          </span>
        </h2>
      <% else %>
        <div class="grid-6">
          <%= link_to "log in", new_user_session_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>
